<<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms and Conditions</h1>
        <div class="p-5 mt-4 bg-theme-secondary text-theme-primary">
       
            <p>aaa aaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaaa aaaaaa
                aaaaaaaaaaaa aaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaa
                aaaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaa
                aaaaaaaaa
            </p>
            <p>aaa aaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaaa aaaaaa
                aaaaaaaaaaaa aaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaa
                aaaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaa
                aaaaaaaaa
            </p>
            <p>aaa aaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaaa aaaaaa
                aaaaaaaaaaaa aaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaa
                aaaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaa
                aaaaaaaaa
            </p>

            <div class="text-center">
                <div class="btn btn-info btn-block btn-sub mb-3" routerLink="/">
                    Back to Home
                </div>
            </div>
        </div>
    </div>
</section>